* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    border-bottom: 1px solid black;
}

.drewText {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 50px;
}

.webdev {
    border-radius: 50px;
    background: #E7DECD;
    padding: 0 10px 0 10px;
}



.text-custom {
    font-size: 20px;
    font-weight: bold;
}

.text-big {
    font-size: 20px;
    font-weight: bold;
    color: orangered !important;
}

.hirebtn {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
    font-size: large;
    padding: 15px 35px 15px 35px;
    box-shadow: 10px 5px 5px rgb(72, 72, 72);
}

.headText {
    width: 50%;
    display: inline-block;
}

.hirebtn:hover {
    border: 3px solid black;
}

.projectsbtn:hover {
    color: orangered;
}

.projectsbtn {
    font-size: medium;
    color: black;
    text-decoration: none;
    display: flex;
    margin: auto 10%;
}

.headText h1, p {
    margin: 10% 10% 0 10%; 
}

.headText p {
    display: flex;
    font-size: 35px;
}

body {
    background: linear-gradient(90deg, whitesmoke 50%, #E7DECD 50%);
}

 .footer {
    margin: 0;
    position: fixed;
    width: 50%;
    left: 0;
    bottom: 0;
    height: 25vh;
    background: rgb(23, 23, 23);
    color: whitesmoke;
 }

 .rightimg {
    width: 50%;
    display: inline-block;
    position: fixed;
 }

 .rightimg img {
    display:flex;
    margin:100px auto;
 }

 .footerText {
    display: inline-flex;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 5%;
    width: 35%;
 }
 .footText {
    display: inline-flex;
    width: 25%;
    font-size: 25px;
 }

 .footText a {
    color: whitesmoke;
    margin: 13px;
 }
 @media screen and (max-width: 900px) {
    .headText p {
        font-size: 18px;
    }
}

 @media screen and (max-width: 480px) {
    .footerText {
        margin: 10% 0 0 10%;
        font-size: 15px;
     
     }
     .headText h1{
        font-size: 20px;
        margin: 5% 20% 0 5%;
    }
    .hirebtn {
        background-color: orangered;
        border: 1px solid orangered;
        color: white;
        font-size: smaller;
        padding: 5px 15px 5px 15px;
    }

    .headText p {
        font-size: 13px;
    }
}



@media screen and (max-width: 1200px) {
    
}