* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    border-bottom: 1px solid black;
}

.drewText {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 50px;
}

.webdev {
    border-radius: 50px;
    background: #E7DECD;
    padding: 0 10px 0 10px;
}



.text-custom {
    font-size: 20px;
    font-weight: bold;
}

.text-big {
    font-size: 20px;
    font-weight: bold;
    color: orangered !important;
}

.hirebtn {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
    font-size: large;
    padding: 15px 35px 15px 35px;
    box-shadow: 10px 5px 5px rgb(72, 72, 72);
}

.headText {
    width: 50%;
    display: inline-block;
}

.hirebtn:hover {
    border: 3px solid black;
}

.imgText {
    display: inline-flex;
    margin: 0px auto;
}

.contactPage,
.contactPagetwo {
    display: flex;
    width: 50%;
}

.contactPagetwo div {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 0 auto;
}

.contactPagetwo a {
    color: black;
}


.projectsbtn:hover {
    color: orangered;
}

.projectsbtn {
    font-size: medium;
    color: black;
    text-decoration: none;
    display: flex;
    margin: auto 10%;
}

.contactPage a {
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
}

.contactPagetwo a:hover {
    color: orangered;
}

.contactPagetwo div a button:hover {
    background-color: orangered;
    color: whitesmoke;
}


.circle {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 100px;
    opacity: 30%;
    margin: 50px auto;
}

.headText h1, p {
    margin: 10% 10% 0 10%; 
}

.headText p {
    display: flex;
    font-size: 35px;
}

body {
    background: linear-gradient(90deg, whitesmoke 50%, #E7DECD 50%);
}

 .footer {
    margin: 0;
    position: fixed;
    width: 50%;
    left: 0;
    bottom: 0;
    height: 25vh;
    background: rgb(23, 23, 23);
    color: whitesmoke;
 }

 .rightimg {
    width: 50%;
    display: inline-block;
    position: fixed;
 }

 .rightimg p {
    display: flex;
    max-width: 75%;
    margin: 0px auto;
 }

 .rightimg img {
    display:flex;
    margin:100px auto;
    border-radius: 100%;
    /* border: 2px solid black; */
 }

 .footerText {
    display: inline-flex;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 5%;
    width: 35%;
 }
 .footText {
    display: inline-flex;
    width: 25%;
    font-size: 25px;
 }

 .footText a {
    color: whitesmoke;
    margin: 13px;
 }
 @media screen and (max-width: 900px) {
    .headText p {
        font-size: 18px;
    }

    .rightimg img {
        display:flex;
        max-width: 50px;
        margin:100px auto;
        border-radius: 100%;
        border: 2px solid black;
     }

     .circle {
        width: 50px;
        height: 50px;
        background-color: grey;
        border-radius: 100px;
        opacity: 30%;
        margin: 50px auto;
    }

    .contactPage a svg{
    width: 20px;
    height:20px;
}

.contactPage a {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}
}


 @media screen and (max-width: 480px) {
    .footerText {
        margin: 10% 0 0 10%;
        font-size: 15px;
     
     }
     .headText h1{
        font-size: 20px;
        margin: 5% 20% 0 5%;
    }
    .hirebtn {
        background-color: orangered;
        border: 1px solid orangered;
        color: white;
        font-size: smaller;
        padding: 5px 15px 5px 15px;
    }

    .headText p {
        font-size: 13px;
    }

    .rightimg img {
        display:flex;
        max-width: 150px;
        margin: 50px auto;
        border-radius: 100%;
        border: 2px solid black;
     }

     .contactPage a {
        display: flex;
        margin-left: 10px;
        margin-top: 10px;
    }

    .circle {
        width: 35px;
        height: 35px;
        background-color: grey;
        border-radius: 100px;
        opacity: 30%;
        margin: 50px auto;
    }

    .contactPage a svg{
        width: 15px;
        height:15px;
    }

}



@media screen and (max-width: 1200px) {
    
}